@import '../variables.scss';

.Chart {
    &__container {
        display: flex;
        justify-content: center;
    }

    &__canvas {
        border-right: 1px dashed $grey;
        border-left: 1px dashed $grey;
    }
}
