{
  "extends": "airbnb",
  "env": {
      "browser": true,
      "node": true,
      "mocha": true,
  },
  "rules" : {
      "react/jsx-indent": ["error", 4],
      "react/require-default-props": "off",
      "react/jsx-closing-bracket-location": "off",
      "indent": ["error", 4, { SwitchCase: 1 }],
      "no-underscore-dangle": "off",
      "consistent-return": "off",
      "arrow-body-style": "off",
      "comma-dangle": ["error", "never"],
      "no-use-before-define": "off",
      "no-console": ["error"],
      "arrow-parens": "off",
      "react/forbid-prop-types": "off",
      "import/prefer-default-export": ["warn"],
      "import/no-unresolved": "off",
      "react/jsx-filename-extension": "off",
      "padded-blocks": "off",
      "no-plusplus": "off",
      "jsx-a11y/href-no-hash": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
       "ecmaFeatures": {
           "jsx": true,
           "modules": true,
       }
   }
}
