@import '../variables.scss';

.Header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    padding: 7px 14px;
    border-bottom: 1px solid white;
    background-color: $background-black;
    color: white;
    font-family: $font-main;

    &__logo {
        float: left;
        height: 45px;
        margin-right: 10px;
    }

    &__title {
        display: initial;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media all and (max-width: $breakpoint) {
    .Header {
        &__title {
            display: none;
        }
    }
}
