@import 'components/variables.scss';

* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    color: white;
    background-color: $background-black;
    font-family: 'Poppins', sans-serif;
}
